@import "../scss/variables";

.profile {
   &__col {
      display: flex;
      flex-direction: column;
   }
   .pr-head {
      max-width: 100%;
      position: relative;

      &::after {
         content: "";
         position: absolute;
         left: 0;
         bottom: 0;
         width: 100%;
         height: 1px;
         background-color: $secondary_light;
      }

      &__background {
         height: 22rem;
         background-color: rgb(226, 226, 226);
         position: relative;
      }

      &__avatar {
         width: 14rem;
         height: 14rem;
         border-radius: 50%;
         transform: translateY(+50%);
         border: 4px solid rgb(255, 255, 255);
         position: absolute;
         bottom: 0;
         margin-left: 1.5rem;

         & img {
            max-width: 100%;
            border-radius: 50%;
            display: block;
         }
      }

      &__row {
         display: flex;
         justify-content: space-between;
         padding: 0rem 1.5rem 0rem 1.5rem;
         position: relative;
         width: 100%;
         position: relative;
         justify-content: flex-end;
      }
      &__button {
         padding-top: 1.5rem;

         & .edit-btn {
            cursor: pointer;
            border-radius: 222px;
            padding: 0 1.6rem;
            min-height: 32px;
            color: #fff;
            background-color: $primary;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 1.6rem;

            &:hover {
               background-color: $primary_dark;
            }
         }

         & .follow-btn {
            cursor: pointer;
            border-radius: 222px;
            padding: 0 1.6rem;
            min-height: 32px;
            color: #fff;
            background-color: $btn_black;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 1.6rem;

            &.active {
               background-color: #fff;
               color: $btn_black;
               border: 1px solid black;

               &:hover {
                  background-color: rgba(255, 83, 83, 0.2);
                  color: red;
               }
            }

            &:disabled {
               pointer-events: none;
               opacity: 0.1;
            }

            &:hover {
               background-color: $btn_black_hover;
            }
         }
      }

      &__info {
         display: flex;
         flex-direction: column;
         padding: 3.25rem 1.5rem 2rem 1.5rem;
      }
      &__name {
         font-weight: bold;
         font-size: 2.2rem;
         line-height: 2.8rem;
      }
      &__login {
         font-weight: 300;
         color: $grey;
         font-size: 1.4rem;
         line-height: 2rem;
      }

      &__about {
         padding: 0.75rem 0;

         & span {
            font-size: 1.6rem;
            color: $secondary;
            letter-spacing: 0.0025em;
            line-height: 2.2rem;
            font-weight: 300;
         }
      }

      &__followers-row {
         display: flex;
         align-items: center;
         gap: 2rem;
         font-weight: 300;
         color: $grey;
         font-size: 1.6rem;
         line-height: 2.1rem;
      }
      &__followers-item {
         & b {
            color: $secondary;
         }
         & span {
         }
      }

      & .pr-info-list {
         display: flex;
         align-items: center;
         padding: 0.6rem 0px 1.1rem 0px;
         font-weight: 300;
         color: $grey;
         font-size: 1.5rem;
         gap: 1.45rem;

         &__item {
            display: flex;
            align-items: center;
            gap: 0.3rem;
            & .pr-info-icon {
               color: $grey;
               font-size: 1.7rem;
            }

            & .link-icon {
               font-size: 1.9rem;
            }
         }
      }

      .pr-head-tab {
         &__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
         }
         &__item {
            cursor: pointer;
            flex: 0 0 25%;
            text-align: center;
            &:hover {
               background-color: $secondary_light;
            }
            span {
               display: inline-block;
               font-size: 1.6rem;
               color: $grey;
               font-weight: bold;
               padding: 2rem 0.5rem;
               position: relative;
            }
            .underline {
               height: 4px;
               width: 100%;
               background-color: transparent;
               position: absolute;
               border-radius: 1000px;
               bottom: 0;
               left: 0;
            }

            &.active {
               span {
                  color: $secondary;
               }
               .underline {
                  background-color: $primary;
               }
            }
         }
      }
   }
}
