@import "../../scss/variables";

.info-input {
   border: 1px solid $secondary_light;
   border-radius: 5px;
   padding: 1.8rem 1rem 0.6rem 1rem;
   position: relative;
   margin-bottom: 3.5rem;

   &.active {
      border: 1px solid $primary;

      & .info-input__placeholder {
         top: 20%;
         font-size: 1.2rem;
         line-height: 0;
         color: $primary;
      }
   }

   &__placeholder {
      position: absolute;
      font-size: 1.6rem;
      color: rgb(187, 187, 187);
      top: 50%;
      transform: translateY(-50%);

      &.filled {
         top: 20%;
         font-size: 1.2rem;
         line-height: 0;
         color: rgb(187, 187, 187);
      }
   }
   &__input {
      font-size: 1.6rem;
      width: 100%;
      color: $secondary;
   }
}
