@import "../../../scss/variables";

.tweet {
   width: 100%;

   &__item {
      cursor: pointer;
      display: flex;
      position: relative;
      padding: 1.5rem 1.2rem 1.9rem 1.2rem;
      width: 100%;

      &::after {
         content: "";
         position: absolute;
         width: 100%;
         height: 1px;
         left: 0;
         bottom: 0;
         background-color: $secondary_light;
      }

      &:hover {
         background-color: $grey_light;
      }

      &.disabled {
         &:hover {
            background-color: #fff;
         }
      }
   }
   &__avatar {
      flex: 0 0 48px;

      & img {
         border-radius: 50%;
         display: block;
         max-width: 100%;
      }
   }
   &__content {
      padding-left: 1.5rem;
      flex: 1 1 auto;
   }
   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.5rem;
      color: $grey;
   }

   &__info {
      display: flex;
   }
   &__menu {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 100;
      width: 30px;
      height: 30px;
      border-radius: 50%;

      &:hover {
         background-color: $def_bg;
      }

      .dots-icon {
         color: $grey;
         cursor: pointer;
         font-size: 1.9rem;
      }
   }

   &__username {
      cursor: pointer;
      .name {
         font-weight: bold;
         margin-right: 1.2rem;
         color: $secondary;
      }
      .link {
         font-weight: 300;
         position: relative;
         padding-right: 10px;

         &::after {
            content: "";
            height: 3px;
            width: 3px;
            border-radius: 50%;
            background-color: $grey;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            position: absolute;
         }
      }
   }
   &__time {
      padding-left: 6px;
      font-weight: 300;
   }

   &__body {
      padding: 0.5rem 0;
      font-size: 1.6rem;
      color: $secondary;

      & pre {
         font-family: inherit;
         font-size: 1.6rem;
         color: $secondary;
         line-height: 2.2rem;
         white-space: pre-wrap;
         word-wrap: break-word;
      }
   }

   &__options {
      padding-top: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & div {
         display: flex;
         align-items: center;
         justify-content: center;

         & span {
            margin-right: 0.5rem;
            color: $grey;
            font-size: 1.2rem;
         }

         & button {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            background-color: transparent;
         }

         .tweet-option-i {
            vertical-align: middle;
            font-size: 1.7rem;
            cursor: pointer;
            color: $grey;
         }

         &:last-child {
            margin-right: 20%;
         }
      }

      .tweet-default {
         &:hover {
            & button {
               background-color: rgba(169, 231, 255, 0.2);
            }

            .tweet-option-i {
               color: rgba(0, 195, 255, 1);
            }
         }
      }
      .tweet-repost {
         &:hover {
            & button {
               background-color: rgba(83, 255, 161, 0.15);
            }

            .tweet-option-i {
               color: rgba(83, 255, 161, 1);
            }
         }
      }
      .tweet-like {
         &:hover {
            & button {
               background-color: rgba(255, 157, 211, 0.15);
            }

            .tweet-option-i {
               color: rgb(252, 112, 159);
            }
         }
      }
   }
}
